####################################################################
# WhiteSource Unified-Agent configuration file
####################################################################
apiKey=83b0571b53dc432c9320380fdea7e0b6158a1537573f40179461cd06986edfcc
productName=InHouseTesting
projectName=HelloWorld_SpringBoot_RJT
checkPolicies=true
includes=**/*
